# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Node & general
node_modules/
.env

# Vite cache
.vite/

# Ignore certificates and keys
*.key
*.crt
*.pem
*.jks
config/
certs/

# Docker
docker-compose.override.yml
*.local.yml
*.env.override
**/.DS_Store

# Optional: Ignore all Docker build contexts or images (if used)
**/Dockerfile
**/docker-compose.yml
# OS-specific
Thumbs.db
